{
    "extends": [
        "@vividseats/eslint-config-vividseats",
        "plugin:prettier/recommended"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
        "no-unused-vars": "warn",
        "react/no-array-index-key": "warn",
        "react/prop-types": "warn"
    }
}
