@import "./_common.styl"

*
    box-sizing: border-box
    font-family: "Courier New", Courier, monospace
    margin: 0
    padding: 0
    transition: 0.3s all ease

    &:hover
        transition: 0.3s all ease

    &:focus
    &::-moz-focus-outer
        border: 0
        outline: none

body
    align-items: center
    background-image: linear-gradient(to bottom, #eeffff, #d2fffc 87%, #b0fff9)
    display: flex
    height: 100vh
    justify-content: center
    overflow: hidden
    width: 100vw

._th-theremin
    background: blue
    border-radius: sizing-MD
    box-shadow: inner-shadow
    height: 40vmin
    width: 40vmin

.watermark
    background: rgba(black, 0.5)
    border-radius: border-radius-MD
    bottom: sizing-MD
    color: white
    font-size: sizing-XL
    padding: sizing-SM
    position: absolute
    right: sizing-MD
    text-decoration: none

    &:hover
        background: rgba(black, 0.7)
