
base-size ?= 16

// functions
rem(val)
    ("%srem" % (val / base-size))

// colors
black = #141414
blue = #75ffff
blue-dark = #39adac
blue-light = #eeffff
red = #d85050
white = #fff
// sizings
sizing-base = 1rem
sizing-2XS = sizing-base * 0.125
sizing-XS = sizing-base * 0.25
sizing-SM = sizing-base * 0.5
sizing-MD = sizing-base * 0.75
sizing-LG = sizing-base * 1
sizing-XL = sizing-base * 1.5
sizing-2XL = sizing-base * 2
sizing-3XL = sizing-base * 2.5
sizing-4XL = sizing-base * 3
sizing-5XL = sizing-base * 3.5
sizing-6XL = sizing-base * 4
// border-radius
border-radius-XS = rem(2)
border-radius-SM = rem(3)
border-radius-MD = rem(6)
border-radius-LG = rem(12)
border-radius-XL = rem(64)
border-radius-round = 50%
// effects
inner-shadow = inset 0 0 sizing-XS 0 rgba(black, 0.2)
outer-shadow = sizing-2XS sizing-2XS sizing-SM 0 rgba(black, 0.2)
