@import "./_common.styl"

btn-size = sizing-3XL

._color-picker
    margin-left: sizing-LG
    position: relative

    &__swatch
        border-radius: border-radius-round
        box-shadow: inner-shadow
        display: block
        height: btn-size
        width: btn-size

        &:hover
            cursor: pointer

            & ~ ._color-picker__sample
                display: block

    &__sample
        bottom: 0
        display: none
        left: "calc(50% - %s)" % (btn-size / 2)
        position: absolute
        transform: translateY(100%)
        z-index: 1

        &:hover
            display: block

        .github-picker
            width: rem(188) !important

._add-note
    align-items: center
    display: flex
    justify-content: space-around

    &__add
        background-color: blue
        border-radius: border-radius-round
        border: 0
        box-shadow: inner-shadow
        color: blue-dark
        font-size: sizing-XL
        height: btn-size
        margin-right: sizing-XL
        outline: 0
        padding-top: sizing-XS
        width: btn-size

        &:focus
        &::-moz-focus-outer
            border: 0
            outline: none

        &:hover
            box-shadow: inner-shadow
            cursor: pointer

        &:disabled
            filter: saturate(0)

            &:hover
                box-shadow: inner-shadow
                cursor: not-allowed

    &__modifier
        -webkit-appearance: none
        background: transparent
        flex-grow: 1
        height: btn-size
        margin: sizing-MD 0

        &:focus
        &::-moz-focus-outer
            border: 0
            outline: none

        &::-webkit-slider-runnable-track
        &::-moz-range-track
            animate: 0.2s
            background: blue
            border-radius: border-radius-LG
            box-shadow: inner-shadow
            cursor: pointer
            height: sizing-MD
            width: 100%

        &::-webkit-slider-thumb
        &::-moz-range-thumb
            background: white
            border-radius: border-radius-round
            border: 0
            box-shadow: outer-shadow
            cursor: pointer
            height: sizing-2XL
            width: @height