@import "./_common.styl"

._note
    align-items: center
    background-color: white
    border-radius: border-radius-SM
    box-shadow: inner-shadow
    display: flex
    height: 4.8vmin
    justify-content: center
    position: relative
    width: @height

    &__wrapper
        display: grid
        grid-column-gap: 1vmin
        grid-row-gap: 1vmin
        grid-template-columns: " repeat(7, %s)" % @height

    &:hover &__remove
        display: flex

    &__tone
        font-size: 2rem

    &__remove
        align-items: center
        background-color: red
        border-radius: border-radius-round
        border: 0
        color: white
        display: none
        font-size: sizing-LG
        height: sizing-LG
        justify-content: center
        padding-left: sizing-2XS
        padding-top: sizing-2XS
        position: absolute
        right: 0
        top: 0
        transform: translateX(30%) translateY(-30%) rotate(45deg)
        width: @height

        &:hover
            display: flex
            cursor: pointer