@import "./_common.styl"

._pitch-visualizer
    align-items: flex-end
    display: flex
    justify-content: space-around
    margin-bottom: sizing-SM

    &__tone
        background-color: white
        border-bottom-left-radius: border-radius-SM
        border-bottom-right-radius: border-radius-SM
        border-radius: border-radius-MD
        box-shadow: inner-shadow
        display: block
        width: sizing-SM

        &--active
            background-color: blue

        for num in 1...50
            &:nth-child({num})
                height: rem(10 + num)