._pitch-visualizer
    display: flex
    justify-content: space-around
    align-items: flex-end
    margin-bottom: 0.5rem

    &__tone
        border-radius: 5px
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        display: block
        width: 7px
        box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.11)
        background-color: #75ffff

        for num in 1...50
            &:nth-child({num})
                height: (10 + num)px