@import "./_common.styl"

._th-theremin
    min-height: rem(300)
    min-width: @min-height

    &::after
        padding-bottom: 100%
        display: block
        content: ""

._th-board
    background: blue
    border-radius: sizing-MD
    box-shadow: inner-shadow
    position: relative

._th-volume
    border-radius: border-radius-SM
    box-shadow: inner-shadow
    display: block
    height: 100%
    position: absolute
    right: - sizing-XL
    width: sizing-MD
