*
    box-sizing: border-box
    font-family: "Courier New", Courier, monospace
    line-height: 1
    margin: 0
    padding: 0
    transition: 0.3s all ease

    &:hover
        transition: 0.3s all ease

body
    align-items: center
    background-image: linear-gradient(to bottom, #eeffff, #d2fffc 87%, #b0fff9)
    display: flex
    height: 100vh
    justify-content: center
    overflow: hidden
    width: 100vw

.th
    &__board
        background: #bcffff
        border-radius: 10px
        box-shadow: inset 0 0 4px 0 rgba(175, 201, 201, 0.62)
        height: 40vmin
        width: 40vmin
