@import "../../src/styles/_common.styl"

*
    box-sizing: border-box
    font-family: "Courier New", Courier, monospace
    line-height: 1
    margin: 0
    padding: 0
    transition: 0.3s all ease

    &:hover
        transition: 0.3s all ease

    &:focus
    &::-moz-focus-outer
        border: 0
        outline: none

body
    align-items: center
    background-image: linear-gradient(to bottom, #eeffff, #d2fffc 87%, #b0fff9)
    display: flex
    height: 100vh
    justify-content: center
    overflow: hidden
    width: 100vw

.th
    &__board
        height: 40vmin
        width: 40vmin

.watermark
    background: rgba(black, 0.5)
    border-radius: border-radius-MD
    bottom: sizing-MD
    color: white
    font-size: sizing-XL
    padding: sizing-SM
    position: absolute
    right: sizing-MD
    text-decoration: none

    &:hover
        background: rgba(black, 0.7)

.change-active
    bottom: sizing-MD
    left: sizing-MD
    position: absolute

    &__btn
        background-color: blue
        border-radius: border-radius-MD
        border: 0
        box-shadow: inner-shadow
        color: blue-dark
        font-size: sizing-XL
        font-size: sizing-XL
        margin-left: sizing-SM
        margin-right: sizing-XL
        outline: 0
        padding: sizing-SM
        text-transform: capitalize

        &:hover
            background-color: darken(blue, 20)
            cursor: pointer

        &--active
            background-color: darken(blue, 20)
