*
    box-sizing: border-box
    margin: 0
    padding: 0
    transition: 0.3s all ease

    &:hover
        transition: 0.3s all ease

body
    align-items: center
    display: flex
    height: 100vh
    justify-content: center
    overflow: hidden
    width: 100vw

.my-theremin
    background: gray
    height: 50vmin
    width: 50vmin
